:javascript
  $(document).ready(function() {
    $("a.delete").click(function() {
      $.delete_("/" + this.id, {}, function(data){
        $("#"+data).parent().hide();
      })
    });    
  })
  
%h3= @flash

= @header_message
%ul
  = partial :todo, :collection => @todos
            
%div
  %a{ :href => '/new' } New todo