%form{ :name => "new_summary", :action => "/create" }
  %div
    %label{ :for => "todo_summary" } Summary
    %input{ :type => "text", :name => "summary", :id => "todo_summary" }
  %div
    %input{ :type => "submit", :name => "submit", :value => "Create!" }